.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
gradle/*.gradle

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.project

.externalToolBuilders/

*.launch

*.pydevproject

.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse
.springBeans
